<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <sales>
            <order_status_adjust>
                <enabled>1</enabled>
                <order_comment>1</order_comment>
            </order_status_adjust>
        </sales>
    </default>
</config>
